// Animation Home
.mouse-home{
    transform-origin: center center;
    transform-box: fill-box;
    animation: cursor 5s ease infinite alternate;
    
}

@keyframes cursor{
    0%{
        opacity: 0;
        transform: translate3d(300px,0,0) scale(1);
    }
    30%{
        opacity: 1;
        transform: translate3d(0,0,0) scale(1);
    }
    60%{
        opacity: 1;
        transform: translate3d(-200px,-130px,0) scale(1);
    }
    65%{
        opacity: 1;
        transform: translate3d(-200px,-130px,0) scale(0.8);
    }
    70%{
        opacity: 1;
        transform: translate3d(-200px,-130px,0) scale(1);
    }
    100%{
        opacity: 1;
        transform: translate3d(-300px,-30px,0) scale(1);
    }
}
.retangulo-home{
    
    animation: retangulo-home 5s ease infinite alternate;
}

@keyframes retangulo-home{
    0%, 60%{
        opacity: 0;
    }
    
    65%,100%{
        opacity: 1;
    }
}


//Animation computador home

.caneca{
    transform-origin: center center;
    transform-box: fill-box;
    opacity: 1;
    animation: caneca 6s ease 2s infinite alternate;
}

@keyframes caneca {
    0%{
        transform: translate3d(0,0,0);
    }
    100%{
        transform: translate3d(0,-10px,0);
    }
}

.Mouse{
    transform-origin: center center;
    transform-box: fill-box;
    animation: mouse 8s ease infinite alternate;
}

@keyframes mouse{
    0%{
        transform: translate3d(0,0,0);
    }
    30%{
        transform: translate3d(0,08px,0);
    }
    60%{
        transform: translate3d(0,-10px,0);
    }
    70%{
        transform: translate3d(10px,0,0);
    }
    100%{
        transform: translate3d(-10px,0,0);
    }
}

.smoke{
    animation: smoke 6s ease infinite alternate;
}
@keyframes smoke {
    0%{
        transform: translate3d(0,0,0);
    }
    100%{
        transform: translate3d(0,-10px,0);
    }
}

// buttons tela computador
.button-p{
    cursor: pointer;
    opacity: 1;
    :hover{
        fill: $secondary-normal;
    }
}

.circle{
    
    :hover{
        fill: $emphasis-ligth;
    }

}

.circle-back{
    :hover{
        fill: $emphasis-dark;
    }
}

.inter-d{
    :hover{
        fill: $primary-ligth;
    }
}

.lower-d{
    :hover{
        fill: $secondary-dark;
    }
}

.top-d{
    :hover{
        fill: $bg-color-ligth;
    }
}

.front-d{
    :hover{
        fill: $secondary-ligth;
    }
}


.rigth-bar{
    :hover{
        fill: blue;
    }
}

.top-bar{
    :hover{
        fill: yellow;
    }
}


.front-bar{
    :hover{
        fill: $secondary-dark;
    }
}

.top-e{
    :hover{
        fill: $secondary-dark;
    }
}

.rigth-e{
    :hover{
        fill: blue;
    }
}

.inter-e{
    :hover{
        fill: yellow;
    }
}

.front-e{
    :hover{
        fill: $primary-ligth;
    }
}

// blocos computador
.bloco-e{
    transform-origin: center center;
    transform-box: fill-box;
    opacity: 1;
    animation: bloco-e 15s ease alternate infinite;
}

@keyframes bloco-e{
    0%{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
    40%{
        opacity: 1;
        transform: translate3d(-12px,-30px,0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0,50px,0);
    }
}

// Animation lines home
.line-1-home{
    z-index: 5825;
    animation: lines-1 10s ease 1s infinite forwards;
}

@keyframes lines-1{
    0%{
        opacity: 0;
        transform: translate(-100%, 0%);
    }
    50%{
        opacity: 1;
        transform: translate(0%, 0%);
    }
    100%{
        opacity: 1;
        transform: translate(100%, 0%);
    }
}

.line-2-home{
    z-index: 5825;
    animation: lines-2 10s ease infinite forwards;
}

@keyframes lines-2{
    0%{
        opacity: 0;
        transform: translate(100%, 0%);
    }
    50%{
        opacity: 1;
        transform: translate(0%, 0%);
    }
    100%{
        opacity: 1;
        transform: translate(-100%, 0%);
    }
}


// Animation lines projeto
.lines-1{
    animation: lines-projeto 2.8s ease infinite forwards;
    /*transform: translate(15%, 20%);*/
}

@keyframes lines-projeto{
    0%{
        opacity: 0;
        transform: translate(100%, 0%);
    }
    50%{
        opacity: 1;
        transform: translate(0%, 0%);
    }
    100%{
        opacity: 1;
        transform: translate(-100%, 0%);
    }
}

.lines-2{
    animation: lines-projeto-2 2.8s ease 2s infinite forwards;
    /*transform: translate(15%, 20%);*/
}

@keyframes lines-projeto-2{
    0%{
        opacity: 0;
        transform: translate(-100%, 0%);
    }
    50%{
        opacity: 1;
        transform: translate(0%, 0%);
    }
    100%{
        opacity: 1;
        transform: translate(100%, 0%);
    }
}

.lines-center{
    animation: lines-projeto 8s ease-in 3s infinite forwards;
    /*transform: translate(15%, 20%);*/
}

@keyframes lines-projeto{
    0%{
        opacity: 0;
        transform: translate(-100%, 0%);
    }
    50%{
        opacity: 1;
        transform: translate(0%, 0%);
    }
    100%{
        opacity: 1;
        transform: translate(100%, 0%);
    }
}

.lines-6{
    animation: lines-projeto-6 8s ease-in 6s infinite forwards;
}

@keyframes lines-projeto-6{
    0%{
        opacity: 0;
        transform: translate(-100%, 0%);
    }
    50%{
        opacity: 1;
        transform: translate(0%, 0%);
    }
    100%{
        opacity: 1;
        transform: translate(100%, 0%);
    }
}

//Animation persona tech
.chave-back-direita{
    transform-origin: center center;
    transform-box: fill-box;
    animation: chave-back-direita 10s ease 2s infinite alternate;
}

@keyframes chave-back-direita{
    0%{
        transform: translate3d(0,0,0);
    }
    50%{
        transform: translate3d(0,60px,0);
    }
    100%{
        transform: translate3d(0,-60px,0);
    }
   
}


.chave-frente-direita{
    transform-origin: center center;
    transform-box: fill-box;
    animation: chave-frente-direita 10s ease 3s infinite alternate;
}

@keyframes chave-frente-direita{
    0%{
        transform: translate3d(0,0,0);
    }
    50%{
        transform: translate3d(0,-60px,0);
    }
    100%{
        transform: translate3d(0,60px,0);
    }
   
}

.chave-back-esquerda{
    transform-origin: center center;
    transform-box: fill-box;
    animation: chave-back-esquerda 8s ease 1s infinite alternate;
}

@keyframes chave-back-esquerda{
    0%{
        transform: translate3d(0,0,0);
    }
    50%{
        transform: translate3d(0,40px,0);
    }
    100%{
        transform: translate3d(0,-40px,0);
    }
   
}

.chave-freente-esquerda{
    transform-origin: center center;
    transform-box: fill-box;
    animation: chave-frente-esquerda 8s ease infinite alternate;
}


@keyframes chave-frente-esquerda{
    0%{
        transform: translate3d(0,0,0);
    }
    50%{
        transform: translate3d(0,-40px,0);
    }
    100%{
        transform: translate3d(0,40px,0);
    }
   
}


.pagina-esquerda-tras{
    opacity: 1;
    animation: paginaEsquerdaTras 8s ease  infinite alternate;
}

@keyframes paginaEsquerdaTras{
    0%{
        transform: translate3d(0,0,0);
    }
    50%{
        transform: translate3d(0,12px,0);
    }
    100%{
        transform: translate3d(0,-12px,0);
    }
}

.verde-esquerda-tras {
    transform-origin: center;
    transform-box: fill-box;
    animation: verdeEsquerda 4s ease 2s infinite alternate;
}

@keyframes verdeEsquerda {
    0%{
        transform: translate3d(0,0,0) ;
    }
    50%{
        transform: translate3d(28px,18px,0) ;
    }
    100%{
        transform: translate3d(0,0,0);
    }
}
  
  

.pagina-direita{
    transform-origin: center center;
    transform-box: fill-box;
    
    animation: paginaDireita 8s ease-out infinite alternate;
}

@keyframes paginaDireita{
    0%{
        transform: translate3d(0,0,0);
    }
    50%{
        transform: translate3d(12px,24px,0);
    }
    100%{
        transform: translate3d(-4px,24px,0);
    }
}

.verde-direita{
    transform-origin: center;
    transform-box: fill-box;
    animation: verdeDireita 4s ease 4s infinite alternate;
}

@keyframes verdeDireita {
    0%{
        transform: translate3d(0,0,0) ;
    }
    50%{
        transform: translate3d(-28px,-18px,0) ;
    }
    100%{
        transform: translate3d(0,0,0);
    }
}

.pagina-esquerda{
    transform-origin: center center;
    transform-box: fill-box;
    
    animation: paginaEsquerda 8s ease-out infinite alternate;
}

@keyframes paginaEsquerda{
    0%{
        transform: translate3d(0,0,0);
    }
    50%{
        transform: translate3d(-12px,0,0);
    }
    100%{
        transform: translate3d(12px,0,0);
    }
}

.circulo-centro{
    cursor: pointer;
    &:hover{
        fill: $primary-ligth;
    }
    transform-origin: center center;
    transform-box: fill-box;
    
    animation: circleCenter 10s ease-in infinite alternate;
}
@keyframes circleCenter{
    0%{
        transform: translate3d(0,0,0);
    }
    50%{
        transform: translate3d(0,10px,0);
    }
    100%{
        transform: translate3d(0,-8px,0);
    }
}

.mais{
    transform-origin: center center;
    transform-box: fill-box;
    opacity: 1;
    transform: rotate(30deg);

    animation: rotateMais 8s ease infinite forwards alternate;
}

@keyframes rotateMais{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}


//Animation section sobre

.figma{

    cursor: pointer;
    animation: figma-transition 6s ease infinite alternate;
}

@keyframes figma-transition{
    0%{
        transform: translate3d(0, 0,0);
    }
    50%{
        transform: translate3d(0, 28px,0);
    }
    100%{
        transform: translate3d(0,-28px,0);
    }
}

.sass{
    cursor: pointer;
    
    transform-origin: center center;
    transform-box: fill-box;
    animation: sass-transition 6s ease 2s infinite alternate;
}

@keyframes sass-transition{
    0%{
        transform: translate3d(0, 0,0);
    }
    50%{
        transform: translate3d(0, 12px,0) rotate(360deg);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}

.git{
    
    animation: git-transition 6s ease 4s infinite alternate;
    transform-origin: center center;
    transform-box: fill-box;
    cursor: pointer;
}

@keyframes git-transition{
    0%{
        transform: translate3d(0, 0,0);
    }
    50%{
        transform: translate3d(0, 8px,0) rotate(360deg);
    }
    100%{
        transform: translate3d(0,-8px,0);
    }
}

.react{
    transform-origin: center center;
    transform-box: fill-box;
    cursor: pointer;
    animation: react-transition 6s ease 3s infinite alternate;
}

@keyframes react-transition{
    0%{
        transform: translate3d(0, 0,0);
    }
    50%{
        transform: translate3d(0, -28px,0);
    }
    100%{
        transform: translate3d(0,28px,0) rotate(360deg);
    }
}

