.button-home{
    display: flex;
    text-decoration: none;
    padding: 2px 2px;
    width: 164px;
    height: 62px;
    background-color: $secondary-dark;
    stroke: $secondary-normal;
    justify-content: center;
    align-items: center;
    border-radius: 5px ;

    transition: transform 0.3s ease;

    box-shadow: 
    0px 4px 4px 0px rgba(59, 204, 168, 0.25), 
    0px 4px 8px 0px rgba(59, 204, 168, 1);

    &:hover{
        transform: scale(1.1);
        background: $secondary-normal;
        box-shadow: 0px 4px 8px 0px rgba(59, 204, 168, 1);
        &h4{
            color: $emphasis-dark;
        }   
    }

    @include responsive (xs){
        width: 128px;
        height: 42px;
    }
}